@{
    ViewBag.Title = "Details about Grocery";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a C# app was:</p>
<ul>
    <li>Created in Visual Studio</li>
    <li>Made with MVC logic</li>
    <li>Uses Entity Framework</li>
    <li>Database is SQL</li>
    <li>Made by Jessica Cottner</li>
</ul>
