@{
    ViewBag.Title = "Contact Developer";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    On the Internet<br />
    Remote, Earth Solar System<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:seriouslyyouguysseriously@gmail.com">seriouslyyouguysseriously@gmail.com</a><br />
</address>