@{
    ViewBag.Title = "Home Page";
    ViewBag.ShoppingCart = true;
}

<div class="text-center grocery-image">
    <h1>Eat Good Food</h1>
</div>

<div class="row bg-success p-5 m-5 text-white text-center">
    <div class="col-md-3 bg-red p-5">
        <h2>Meats</h2>
        <p>Our variety of high-quality meat ranges from tasty burger to seafood</p>
        @Html.ActionLink("Non-Vegetarians >>", "Meat", "Home", new { area = "" }, new { @class = "btn btn-primary m-5" })
    </div>
    <div class="col-md-3 bg-lightgrey p-5">
        <h2>Baking</h2>
        <p>Get the ingredients you need to create home made meals from scratch</p>
        @Html.ActionLink("Learn More >>", "Baking", "Home", new { area = "" }, new { @class = "btn btn-warning m-5" })
    </div>
    <div class="col-md-3 bg-lightgreen p-5">
        <h2>Plants</h2>
        <p>We have all the delicious vegetation you need to live a healthy life</p>
        @Html.ActionLink("Healthy Living >>", "Plant", "Home", new { area = "" }, new { @class = "btn btn-info m-5" })
    </div>
    <div class="col-md-3 bg-lightyellow p-5">
        <h2>Recipes</h2>
        <p>Grab the ingredients you need for your favorite recipe with one click</p>
        @Html.ActionLink("Check Out Ours >>", "Recipes", "Home", new { area = "" }, new { @class = "btn btn-danger m-5" })
    </div>
</div>