@using CSharpProjectWAccounts.Models;
@{
    ViewBag.Title = "Update Inventory";
}
<div class="container text-center">
    <h2>Add Items to Inventory</h2>
    <p>@ViewBag.Message</p>
    <div class="row form-group">
        @using (var inventory = new GroceryContext())
                    {
                        var goToGrocery = new GetSelectListItem();
                        using (Html.BeginForm())
                        {
                <label for="ItemName">
                    Name Item
                    <input class="form-control" type="text" name="ItemName" placeholder="Item Name" />
                </label>
                <div class="p-3">
                    <h5>Add Type</h5>
                    @Html.DropDownList("Type", goToGrocery.GetGroceryTypes(), "-- Select Type --")
                </div>
                <label for="Price">
                    Item Price
                    <input class="form-control" type="text" name="Price" placeholder="Price" />
                </label>
                <label for="Description">
                    Item Description
                    <input class="form-control" type="text" name="Description" placeholder="Describe Item" />
                </label>
                <label for="Quantity">
                    Quantity of Items
                    <input class="form-control" type="text" name="Quantity" placeholder="Stock Quantity" />
                </label>
                <div class="p-3">
                    <h5>Add Food Category</h5>
                    @Html.DropDownList("Food", goToGrocery.GetGroceryFoods(), "-- Select Food --")
                </div>
                <label for="CoverImageURL">
                    Item Image
                    <input class="form-control" type="text" name="URL" placeholder="Url of Image" />
                </label>
                <button type="submit" class="btn btn-primary">Save</button>
            }
        }
    </div>
</div>